.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 16px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.title {
  font-size: 32px;
  font-weight: 800;
  color: #112211;
  margin-bottom: 12px;
}

.subtitle {
  font-size: 18px;
  color: #6b7280;
  font-weight: 500;
}
